@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: #f8fafc;
    font-family: 'Inter',sans-serif;
}
.header{
    position:sticky;
    top:0;
    z-index:100;
    background-color:#FAFAFA;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:2rem;
    gap:2rem;

    border-bottom:1px solid #EAEAEA;
    box-shadow:0 4px 12px rgba(0,0,0,.08);

    background:#FAFAFA;
}

.heading{
    margin-left:5rem;
}

.heading img{
    display:block;
    width:70px;
}

.navbar ul{
    display:flex;
    align-items:center;

    list-style:none;

    margin-right:150px;
    padding-right:10px;

    gap:.7rem;
}

.navbar li{
    display:flex;
    align-items:center;
}

.navbar a{
    display:inline-flex;
    align-items:center;

    text-decoration:none;

    color:#525252;

    font-family:"Geist_reg",sans-serif;
    font-size:15px;
    font-weight:500;

    transition:.15s ease;
}

.navbar a:hover{
    color:#10B981;
}

a:not(.heading):hover{
    border-bottom:1px solid #10B981;
}

#login_button{
    margin-left:10rem;

    padding:4px 14px;

    border-radius:999px;

    background:#10B981;

    color:#FAFAFA;

    opacity:.8;
}

#login_button:hover{
    background:#059669;
    color:#FAFAFA;

    transform:translateY(-1px);

    border-bottom:none;
}

#login_button{
    color:#EAEAEA;
    margin-left: 10rem;
    padding:3.4px;
    border-radius: 24px;
    background-color: #10B981;
    opacity: 0.7;
}
#login_button :hover{
      background:#059669;


    transform:translateY(-1px);
}
.navbar li{
    align-items: center;
}
.navbar a{
    display: flex;
    font-size: 8px;
    font-weight: 500;
}
nav a{
    text-decoration: none;
}

.heading{
    color: #2563eb;
    font-size: 2rem;
    font-weight: 700;
    padding:10px;
}
.header{
    position:sticky;
    top:0;
    z-index:1000;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

main{
    display:grid;
    grid-template-columns:250px 1fr;
}

.help_float img:hover{
    transform:rotate(15deg) scale(1.1);
}
.sidebar{
    min-height:100vh;
    border-right:1px solid #e6e6e6;
    padding:1rem;
    width:200px;
}
a{
    margin-top:2px;
    margin-bottom:2px;
}
.doc_cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:0.5rem;
    padding:10px;
}
.doc_card{
    border:#e6e6e6 solid 1px;
    display:flex;
    flex-direction: column;
    background: white;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    box-shadow:0 4px 12px rgba(0,0,0,.08);

}

.doc_img{
    width:100%;
    height:220px;
    object-fit: cover;
}
.footer{
    border-top: #e6e6e6 solid 1px;
}
.bell
{
    width:20px;
    position:absolute;
    top:2px;
    right:2px;
}

.help_float{
    width:25px;
    height:25px;
    position:fixed;
    right:5px;
    bottom: 5px;
    background:#f8fafc;
    border:1px solid #f8fafc;
    border-radius:50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help_float img{
    width:17px;
    height:17px;
    object-fit: contain;
    display: block;
}