@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: #f8fafc;
    font-family: 'Inter',sans-serif;
}
.heading{
    color: #2563eb;
    font-size: 2rem;
    font-weight: 700;
    padding:10px;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #e6e6e6 solid 1px;
}
.navbar ul{
    display:flex;
    gap:20px;
    padding:15px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

main{
    display:grid;
    grid-template-columns:250px 1fr;
}

.sidebar{
    min-height:100vh;
    border-right:1px solid #e6e6e6;
    padding:1rem;
    width:200px;
}
a{
    margin-top:2px;
    margin-bottom:2px;
}
.doc_cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:0.5rem;
    padding:10px;
}
.doc_card{
    border:#e6e6e6 solid 1px;
    display:flex;
    flex-direction: column;
    background: white;
}
.doc_card img{
    width:100%;
    height:220px;
    object-fit: cover;
}
.footer{
    border-top: #e6e6e6 solid 1px;
}