@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

h1{
    color:#2563eb;
    font-size: 2rem;
    font-weight: 700;
}

body{
    background-color: #f8fafc;
    font-family: 'Inter',sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    padding:1rem 2rem;
    border-bottom:1px solid #e6e6e6;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap:2 rem;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2rem;
    list-style-type: none;

}
.hero h2{
    font-size: 3rem;
}

.hero p{
    color: #6b7280;
}
.hero{
    margin-top:2rem;
    padding:3rem;
    border:2px solid #2563eb;
}

nav a{
    text-decoration: none;
}

footer a{
    text-decoration: none;
}

.top-doctors h2{
    color: rgb(88, 88, 88);
    margin:10px;
}
.doc_cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap: 2px;;
}
.doc_card{
    border: 1px solid #e6e6e6;  
    border-radius: 16px;
    overflow: hidden;
    box-shadow:0 4px 12px rgba(0,0,0,.08);
}