@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@keyframes fadeIn{
    from{
        opacity:0.3;
    }

    to{
        opacity:1;
    }
}

@keyframes slideUp{

from{

transform:translateY(40px);

}

to{

transform:translateY(0);


}

}

.heading img{
    width:70px;
}
body{
    background-color: #f8fafc;
    font-family: 'Inter',sans-serif;
}
.header
{
    position: sticky;
    top:0;
    z-index: 100;
    background-color: #f8fafc;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    padding:1rem 1rem;
    border-bottom:1px solid #e6e6e6;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap:2 rem;
}
a{
    display:inline-block;
    font-size: 12px;
    color: #171717;
    transition:0.2s;
}
a:hover{
    transform:scale(1.03);
}
.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2rem;
    list-style-type: none;

}
button:hover{
    background:#10B981;
}
button:active{
    transform:scale(.96);
}
.hero h2{
    font-size: 3rem;
}

.doc_card:hover{
    transform: translateY(-6px);
}
.hero p{
    color: #6b7280;
}
.hero{
    padding:2rem;
    border:2px solid #10B981;
    background-image: url('../Assets/hero_seamless.jpeg');
    background-size: 300px;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}


nav a{
    text-decoration: none;
}

footer a{
    text-decoration: none;
}

.top-doctors h2{
    color: #10B981;
    margin:10px;
}
.doc_cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap: 2px;;
}
.doc_card{
    border: 1px solid #e6e6e6;  
    border-radius: 16px;
    overflow: hidden;
    box-shadow:0 4px 12px rgba(0,0,0,.08);
    transition: 0.3s ease;
    animation:slideUp 1.5s ease;
}

