@font-face{
    font-family: "League Spartan";
    src:url(../fonts/LeagueSpartan-ExtraBold.ttf) format("truetype");
}

@font-face{
    font-family: "Manrope_reg";
    src:url(../fonts/Manrope-Light.ttf)
}
@font-face{
    font-family: "Geist_reg";
    src:url(../fonts/Geist-Regular.ttf)
}
@font-face{
    font-family:"Thin";
    src:url(../fonts/Manrope-ExtraLight.ttf)
}
@font-face{
    font-family:"Secondary";
    src:url(../fonts/GeneralSans-Regular.otf)
}
@keyframes fadeIn{
    from{
        opacity:0.3;
    }

    to{
        opacity:1;
    }
}

@keyframes slideUp{

from{

transform:translateY(40px);

}

to{

transform:translateY(0);


}

}

.container{
    width:100%;
    padding:0 2rem;
}
.heading img{
    display: block;
    width:70px;
}
.heading{
    margin-left:5rem;
}
body{
    background-color: #FAFAFA;
    font-family: 'Geist_reg',sans-serif;
}
.header
{
    position: sticky;
    top:0;
    z-index: 100;
    background-color: #FAFAFA;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap:2rem;
    border-bottom:1px solid #EAEAEA;
    box-shadow:0 4px 12px rgba(0,0,0,.08);
}
.navbar ul{
    align-items: center;
    margin-right: 150px;
    gap:2rem;
}

#login_button{
    color:#EAEAEA;
    margin-left: 10rem;
    padding:3px;
    border-radius: 24px;
    background-color: #10B981;
}
#login_button :hover{
      background:#059669;


    transform:translateY(-1px);
}
.navbar li{
    align-items: center;
}
.navbar a{
    display: flex;
    font-size: 8px;
    font-weight: 500;
}
nav a{
    text-decoration: none;
}

 a{
    display:inline-block;
    color: #525252;
    transition:0.1s ease;
}
p{
    color:#171717;
}
a{
    color:#525252;
}
a:hover{
    transform:scale(1.03);
    color:#10B981;
}

a:not(.heading):hover{
    border-bottom:1px solid #10B981;
}
.navbar ul{
    padding-right:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap:0.7rem;

}

.hero h2{
    font-family: "League Spartan", sans-serif;
    color:#10B981;
    font-weight: 800;
    letter-spacing: -0.04em;
    font-size: 3rem;
    shadow:0 4px 12px rgba(0,0,0,.08);
    z-index:100;
    text-shadow:0 12px 30px rgba(0,0,0,.18);
}
.hero p{
    font-family:"Secondary",sans-serif;
    color:aliceblue;
    font-size:1.1rem;

    font-weight:400;

    max-width:550px;

    line-height:1.6;
    z-index:100;

}
.hero button{
    width:128px;
    height:28px;
    border:none;
    border-radius: 14px;

    font-family:"Geist_reg";
    font-weight:500;

    color:#171717;
    margin-top:0.7rem;
    transition:0.1s ease;
    z-index:100;
}

.hero button:hover
{
    transform:translateY(-1px);
    background:#064E3B;
    text-shadow:0 12px 30px rgba(0,0,0,.18);
}
.doc_card:hover{
    transform: translateY(-3px);
    
}

.hero{
    padding:3rem;
    background-image: url('../Assets/seamless.png');
    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    height:92vh;
}

.speciality{
    margin-top:3rem;
    margin-left:0.8rem;
    font-weight: 800;
    font-family: "Manrope_reg";

}


.top-doctors h2{
    color: #10B981;
    margin:10px;
}
.doc_cards{
    color:#FFFFFF;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap: 2px;;
}
.doc_card{
    border: 1px solid #EAEAEA;  
    border-radius: 16px;
    overflow: hidden;
    box-shadow:0 4px 12px rgba(0,0,0,.08);
    transition: 0.3s ease;
    animation:slideUp 1.5s ease;
}

.footer{
    background-color: #232020;
    height:50vh;
    margin-top: 3rem;
    
}
.footer ul{
    list-style-type: none;
}

#footer_logo{
}
#footer_logo img{
    width:120px;
}